extends ./common/layout
block main
    div#main
        aside
            div.email-nav
                div.email-nav-header 
                    div.email-type #{emailType} 
                        div.signout
                            a(href='#')
                                i.fa.fa-sign-out
                    p.email-name #{email}                    
                    button(style='margin-top:10px;font-size:80%;').pure-button.primary-button New Email  
                div.pure-menu.pure-menu-open
                    ul
                        li
                            a
                                i.fa.fa-inbox  Inbox(2)
                        li
                            a 
                                i.fa.fa-send  Sent
                        li
                            a 
                                i.fa.fa-file  Drafts 
                        li
                            a 
                                i.fa.fa-circle-thin  NoSeen
            div#email-contacts.email-contacts
                div.contacts-search.pure-form
                    input.pure-input-rounded(type='text', placeholder='Search...')
                div#email-contacts-list
        article.email-dialog
            header
                h3.dialog-header Peter
            div#dialog-list
            footer.quick-reply
                input(type='text',placeholder='Quick reply-Title')
                textarea(placeholder='Content')
                div.oper
                    button(name='send').oper-button.pure-button Send
                    button(name='hide').oper-button.pure-button Hide 
                    a(href='#') Open full reply form

    textarea#contact-item-tpl.template 
        |{{#.}}
        |{{#show}}
        li.contact-item
            a.info
                h4 {{name}}
                div {{email}}
                |{{#haveUnseen}}
                div.tip-icon
                    i.fa.fa-circle 
                |{{/haveUnseen}}
        |{{/show}}
        |{{/.}}

    textarea#dialog-from-tpl.template 
        section.item-from
            div.reply
                a(href='#')
                    i.fa.fa-reply  
                a(href="#")
                    i.fa.fa-reply-all  
                a(href="#")
                    i.fa.fa-share-square-o  
            div.arrow-from
            h4 {{subject}} 
            article.dialog-article {{&text}}
            div.show-more
                i.fa.fa-angle-down
    textarea#dialog-to-tpl.template 
        section.item-to
            div.reply
                a(href="#")
                    i.fa.fa-share-square-o  
            div.arrow-to
            h4 {{subject}} 
            article.dialog-article {{&text}}
            div.show-more
                i.fa.fa-angle-down
    script.
        seajs.use('/js/modules/index')








