doctype html
html
    head
        meta(charset='utf-8')
        title=title
        link(rel="shortcut icon", type="image/ico", href="/images/favicon.ico")
        link(rel='stylesheet',href='/style/css/base.css') 
        link(rel='stylesheet',href='/style/css/common.css') 
        link(rel='stylesheet',href='/style/css/font-awesome.css') 
        script(src='/js/libs/seajs/2.3.0/sea.js')
        script(src='/js/config.js')
    body
        include top
        block main
        include footer
